# Database Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB_NAME=olla_indexer_testnet
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_SSL_ENABLED=disable

# Ethereum RPC
RPC_URL=http://localhost:8545

# Server Configuration
PORT=8080
LOG_LEVEL=info
