VITE_APP_ENV=development
VITE_CONTRACTS_ENV=local
VITE_RPC_URL_FOUNDRY=http://127.0.0.1:8545
VITE_RPC_URL_MAINNET=
VITE_RPC_URL_SEPOLIA=
VITE_WALLET_CONNECT_PROJECT_ID=
VITE_ETHEREUM_EXPLORER_URL=https://etherscan.io
VITE_LAUNCH_ACTIVE=false
